body {
  margin: 0 auto;
  height: 100vh;
  background-color: #639;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
}
.form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}
.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
  
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;   
  cursor: pointer; 
}

